body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* DISEÑO NAVBAR */
.textMarket{
  margin-left: 30px !important;
}

.itemsMarket{
  margin-left: 500px !important;
}

.itemsMarket li a {
  font-size: 20px;
  font-weight: bold;
}

.buscarMarket{
  margin-left: 600px;
}

.finNavbar{
  margin-left: 450px !important;
}

.textPrincipal{
  font-size: 30px;
  text-align: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
/* NAVBAR ICONO CARRITO */

.MuiSvgIcon-root{
  color: white !important;
  margin-top: 10px !important;
}

.MuiBadge-badge{
margin-top: 4px !important;
background-color: rgb(49, 39, 39) !important;
} 



/* BUTTON CARD */


.cardEntera{
  margin-left: 50px !important;
  text-align: center !important;
  margin-top: 20px !important;
}

.buttonCard{
  margin-left: 20px !important;
}

.addCart{
  margin-left: 20px;
  margin-top: 15px !important;}

